{
  "server": {
    "bind": "0.0.0.0:20159",
    "timeout": 30
  },
  "client": {
    "address": "http://localhost:8086",
    "username": "iot-relay",
    "password": "",
    "db": "grafana",
    "host": "iot-relay"
  }
}